.user-page-navbar {
  background-color: #0060bf;
  width: 99.6%;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.gear-dropdown-btn {
  justify-items: center;
  -ms-flex-item-align: auto;
      align-self: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  padding: 5px 10px;
  opacity: 0.5;
  position: relative;
}

.gear-dropdown-btn:hover {
  opacity: 1;
  visibility: visible;
  background-color: #0f6cc4;
  border-radius: 5px;
  display: inline block;
  padding: 5px 10px;
}

.hidden-dropdown {
  display: none;
}

.visible-dropdown {
  list-style: none;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  top: 49px;
  border-radius: 4px;
  overflow: hidden;
  right: 0.5%;
  z-index: 6;
  width: 30%;
}

.logout-link {
  font-size: 15px;
  padding: 8px;
  width: 85%;
  text-align: right;
  position: relative;
  right: 0;
}

.setting-guest-name {
  /* font-size: 15px; */
  /* opacity: 0.5; */
  width: 50px;
  width: 100%;
  text-align: left;
  position: relative;
  /* padding: 0.5em; */
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid gray;

}

.setting-guest-name h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.setting-guest-name span {
  color: grey;
  font-size: 14px;
}

.logout-button {
  border: none;
  background-color: white;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 8px 0px;
  width: 100%;
  text-align: left;
  /* all: unset; */
}

.logout-button:hover {
  margin: 8px 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color:  #b3d9ff;
  width: 100%;
}

.search-results {
  position: absolute;
  background-color: #b3d9ff;
  width: 300px;
  height: auto;
  z-index: 6;
  margin-top: 3px;
}

.search-results li {
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-bar {
  padding: .5em;
  margin: 3px;
  border: 1px solid #ccc;
  width: 18em;
  background-color: #4687cc;
  border-radius: 5px;
  border-style: none;
}

input#search {
  background-image: url("http://www.clker.com/cliparts/n/U/H/1/H/u/search-icon-white-one-md.png");
  background-size: 17px;
  background-repeat: no-repeat;
  text-indent: 20px;
  background-position: 2%;
}

input#search:focus {
  background-image: none;
  text-indent: 0px;
}

.search-bar::-webkit-input-placeholder {
  color: white;
}

.search-bar:-ms-input-placeholder {
  color: white;
}

.search-bar::-ms-input-placeholder {
  color: white;
}

.search-bar::placeholder {
  color: white;
}

.search-bar:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-color: #4180c4;
}

.search-bar:focus {
  background-color: white;
}

/* .avatar {
  display: inline-block;
  background-color: #0066cc;
  border-radius: 5px;
  padding: 10px;
} */

.all-tasks {
  display: block;
  height: auto;
}

.task-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.list-and-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

.task-default-show {
  height: 100%;
  width: 100%;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ebf7fd;
  position: relative;
  z-index: 5;
  top: 0%;
  bottom: 0;
  left: 0%;
  border-bottom: 1px dotted;
  border-top: 1px solid;
  padding: 2px 0;
  border-bottom-color: #e5e5e5;
  border-top-color: #fff;
  height: 100vh;
  overflow: hidden;
}

.main-form h1 {
  padding: 15px 0;
  background-color: #fff;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.taskForm {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  background-color: white;
}

.task-form input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.task-form input:focus {
  background-color: #e6f2ff;
}

.task-form input[type="submit"] {
  position: relative;
  left: 85%;
  padding: 8px 5px 8px 5px;
  background-color: #3399ff;
}

.task-form input[type="checkbox"] {
  width: auto;
}

form.task-form {
  background-color: white;
  top: 45px;
  position: -webkit-sticky;
  position: sticky;
}

.list-items {
  background-color: white;
  border-radius: 10px;
  min-width: 35%;
  padding: 20px;
  margin-right: 0;
  margin-top: 5px;
}

.list-items ul label {
  display: block;
  width: 100%;
  border-bottom: 1px dotted;
  border-top: 1px solid;
  padding: 2px 0;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-color: #e5e5e5;
  border-top-color: #fff;
}

.list-items ul label span {
  padding: 5px 5px 5px 10px;
  font-size: 13px;
}

.alltasks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.trash-btn {
  margin-right: 20px;
}

.fa-bars:hover {
  background-color: #0f6cc4;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 8px;
  margin: 5px 5px;
}

.fa-bars {
  font-size: 100%;
  color: white;
  padding: 8px 8px;
  margin: 5px 5px;
}

.fa-cog {
  color: white;
  display: block;
  margin: 2px;
}

.fa-sort-down {
  color: white;
  font-size: 50%;
  padding: 5px 3px;
}

.completed-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.completed-status h1 {
  margin: 20px;
}
/*# sourceMappingURL=user_page.css.map */